body {
    font-size: 15px;
}

.footer, .see-articles {
    padding: 30px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* navbar */

header {
    display: flex;
    padding: 20px 0;
    background-color: #C0C0C0;
}

.logo {
    width: 12%;
}

nav {
    flex: 1;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80px;
}

nav ul {
    display: flex;
    justify-content: space-between;
    width: 80%;
}

nav li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.animatable-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    border-radius: 4px;
    overflow: hidden;
    transform-origin: bottom left;
    transform: rotate(-20deg);
    transition: transform 0.4s ease-out;
}

.navbar-icons {
    width: 60px;
    height: 60px;
}

a {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: inherit;
}

nav a:hover .navbar-icons {
    transform: rotate(0deg);
}

.navbar-icons img {
    flex: none;
    transform: rotate(20deg);
    transition: transform 0.4s ease-out;
}

nav a:hover img {
    transform: rotate(0deg);
}

nav a:hover span {
    color: white;
}

.menu-trigger {
    display: block;
    width: 8%;
    margin: auto;
}

/* featured articles */

.featured-articles-container {
    display: flex;
    flex-wrap: wrap;
    font-size: 60px;
    line-height: 72px;
}

.featured-article {
    padding: 3% 2%;
}

.article-1, .article-4 {
    background-color:#808080;
}

.article-2 {
    background-color: #A9A9A9;
}

.article-3 {
    background-color: #696969;
}

.featured-articles-container {
    width: 100%;
}

.featured-articles-container {
    display: grid;
    grid-template-columns: repeat(1fr, 4);
}

.article-icons {
    align-self: flex-start;
    width: 100px;
    height: 100px;
    margin: 0 0 20px 30px;
    border-radius: 10px;
}

.article-icons img {
    flex: none;
    transform: rotate(20deg);
    transition: transform 0.4s ease-out;
}

.article-icons:hover {
    transform: rotate(0deg);
}

.article-icons:hover img {
    transform: rotate(0deg);
}

@media screen and (min-width: 768px) {
    .featured-article {
        width:100%;
    }

    .featured-articles-container {
      display: grid;
      grid-template-rows: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 1920px){
    .featured-article {
        width: 33.33%;
    }

    .featured-articles-container {
        display: flex;
    }

    .article-4 {
        display: none;
    }
}

/* latest posts */

.latest-posts {
    display: flex;
    flex-wrap: wrap;
}

.latest-posts-article {
    
    width: 50%;
}

.cat {
    width: 100%;
    
    background-color: #696969;
}

@media screen and (min-width: 800px) {
    .latest-posts-article {
        width: 50%;
    }
}

@media screen and (min-width: 1100px) {
    .latest-posts-article {
        width: 33.333333%;
    }
}

@media screen and (min-width: 1450px) {
    .latest-posts-article {
        width: 25%;
    }
}

@media screen and (min-width: 800px) {
    .cat-coffee {
        width: 50%;
    }
}

@media screen and (min-width: 1100px) {
    .cat-coffee {
        width: 66.66666%;
    }
}

@media screen and (min-width: 1400px) {
    .cat-coffee {
        width: 50%;
    }
}

@media screen and (min-width: 1450px) {
    .cat-tv {
        width: 50%;
    }
}

/* configure container */

.configure-container {
    
    background-color: #D3D3D3;
}

/* curate articles container */

.curate-articles-container {
    display: flex;
    flex-wrap: wrap;
}

.main-headline {
    width: 100%;
    
}

.curate-article {
    width: 100%;
    
}

@media screen and (min-width: 1024px) {
    .curate-article {
        width: 50%;
    }
}

/* main background color */

.main-bg-color {
    background-color: #696969;
}

/* links container */

.links-container {
    display: flex;
    flex-wrap: wrap;
}

.links-article {
    width: 100%;
    
}

@media screen and (min-width: 668px) {
    .links-article {
        width: 50%;
    }
}

@media (min-width: 1100px) {
    .links-article {
        width: 33.33333%;
    }

    .cat-music {
        width: 66.66%;
    }
}

@media (min-width: 1450px) {
    .links-article {
        width: 25%;
    }

    .cat-music {
        width: 100%
    }
}

/* see all articles */

.see-articles {
    display: flex;
    width: 100%;
    

    align-items: center;
    justify-content: center;
}

/* footer */

.footer {
    width: 100%;
    
}